.App {
  text-align: center;
}

body {
  height: 100vh;
}

/* homepage  */
.home-page-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100vw;
}

.space {
  flex:1;
}

.logo {
  height: 100px;
}

.link {
  padding: 0 50px;
  display: flex;
}

.el {
  padding: 0 10px;
}

/* Categories Screen */

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.c-img {
  height: 270px;
  padding: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
