.App {
  text-align: center;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

p, a{
  text-decoration: none;
  color: black;
  padding: 3px;
}
.home-page-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100vw;
  background: gold;
  border: 0px;
  font-family: 'Poiret One', sans-serif;
  font-size: 1.5em;
}

.space {
  flex:1;
}

.logo {
  height: 100px;
  padding: 0 0 0 20px;
  margin-left: 30px; 
}

.link {
  padding: 0 50px;
  display: flex;
}

.el {
  padding: 0 10px;
}

/* Categories Screen */

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.c-header {
  display: flex;
  justify-content: center;
  padding: 60px 0 10px 0;
}

.c-img {
  height: 270px;
  width: 400px;
  padding: 50px;
}

a p:hover {
  background-color: #aaaaaa;
  border: 0px solid;
  border-radius: 5%;
  color: white;
}

h2, .create-idea h1 {
  font-family: 'Homemade Apple', sans-serif;
}

.all-ideas-container {
  font-family: 'Poppins', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}

.create-idea {
  font-family: 'Poppins', sans-serif;
}

.post-img {
  width: 70%
}

.hp {
  background-image: url(http://i.imgur.com/9XzrQkl.jpg);
  width: 100%;
  height: 100%;
}

.foot {
  background-color: #aaaaaa;
  display: flex;
  flex-flow: row nowrap;
}

.footer {
  display: flex;
  flex-direction: column-reverse;
  flex-shrink: 0;
}
